.editTopic-wrapper {
    margin:4em 0em;
    display:flex;
    flex-direction: column;
}

.topicTitle {
    margin:15px;
}

.topicTitle input {
    padding:15px;
    text-align: center;
    font-size:20px;
    outline: none;
}

.topicDesc {
    margin:15px;
}

.topicDesc textarea {
    padding:15px;
    width:70%;
    height:10em;
    font-size:20px;
    outline:none;
}

