/* 

Lightblue: #4384f4
Lighter blue: #80b4f0
DarkBlue: #07327d
Brownish: #7b7b7b 

*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    background: #f3f3f3;
    height: 100px;
    border-top: 30px #80b4f0 solid;
}

nav a {
    color:#000000;
}

nav a:hover {
    color: #7b7b7b;
}

.insideWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
}

.desc {
    color: #292929;
    border-bottom: 10px solid #7b7b7b;
    font-size: 30px;
}

.menuItem {
    font-size: 22px;
    margin: 0 10px;
}

.links ul {
    display: flex;
}

@media screen and (max-width: 500px) {
    .insideWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 20px;
    }

    .menuItem {
        font-size: 18px;
        margin: 0 4px;
    }
}

