/* 

Lightblue: #4384f4
Lighter blue: #80b4f0
DarkBlue: #07327d
Brownish: #7b7b7b 

*/

.topicList-wrapper {
    margin:30px;
}

.itemCards {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.topicBox {
    border-radius: 10px;
    margin:10px;
    padding:15px;
    background-color: rgba(128, 180, 240, 1);
    width:10em;
    height:100%;
    /* float: left; */
}

.topicBox h3, p {
    padding:0;
    margin:15px 0;
    overflow-wrap: break-word;
}

.topicBox h3 {
    text-transform: uppercase;
}

@media screen and (max-width: 500px) {
    .topicBox {
        width:20em;
    }
}