.textNav {
    margin: 20px 0;
}

.btnRed {
    background-color: #ff1717;
}

.commentBtn {
    margin: 20px 0;
}

.commentLine {
    border-bottom: solid 0.5px #ececec26;
    margin:5px;
    padding:10px;
    overflow-wrap: break-word;
}

.uppercaseText {
    overflow-wrap: break-word;
    margin:20px 10px;
}

.descDetails {
    overflow-wrap: break-word;
    margin:20px 10px;
}

@media screen and (max-width: 500px) {

}